.page-header h1 small {
    font-size: 55%;
    white-space: pre;
}
h2 {
    margin-top: 1em;
    margin-bottom: 0.1em;
}
.post-list h2 small {
    font-family: monospace;
    font-size: 55%;
    margin-top: 0.1em;
    display: block;
}
.post-list p {
    margin-bottom: 0.5em;
}
.post-list {
    margin-bottom: 2em;
}
footer {
    border-top: 1px solid rgb(238, 238, 238);
    font-size: 85%;
    font-style: italic;
    text-align: center;
    margin-top: 4em;
    padding-top: 0.5em;
}
#disqus_thread {
    margin-top: 2.5em;
}
pre {
    padding: 1em .5em 1em .5em;
}
h1, h2, h3, h4 {
    font-family: 'Dosis', sans-serif;
}
a {
    color: rgb(255, 128, 0);
}
