body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;

  padding: 20px;
  margin: auto;
  max-width: 800px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(7, 54, 83);
  width: 100%;
}
.navbar-brand {
  margin: 10px;
  padding-right: 20px;
}
.navbar-nav {
  display: flex;
  flex: 1;
  list-style-type: none;
  padding-inline-start: 0;
}
.navbar-text {
  margin: 10px;
}
.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar a {
  color: #fff;
}

@media (max-width: 240px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }
  .navbar-nav {
    flex-direction: column;
  }
}

.highlight {
  overflow: auto;
  max-width: 100%;
  background-color: rgb(5, 43, 66);
}

.page-footer {
  margin-top: 40px;
}

.post-date {
  color: gray;
  font-variant-caps: all-small-caps;
  font-size: 18px;
}

.latest-articles article {
  margin-top: 40px;
  border-left: 5px solid rgb(7, 54, 83);
  padding: 10px 20px;
  background-color: #fafafa;
}

.latest-articles h2 {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 900;
}

.latest-articles .post-date {
  color: rgb(100, 100, 100);
}

.latest-articles p {
  max-width: 60ch;
}

.all-articles {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

.all-articles .article {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px 0;
  background-color: #fafafa;
  border-left: 5px solid rgb(7, 54, 83);
  padding: 10px 20px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.1em;
}

.site-footer {
  border-top: 1px solid rgb(238, 238, 238);
  font-size: 85%;
  font-style: italic;
  text-align: center;
  margin-top: 4em;
  padding-top: 0.5em;
}

pre {
  padding: 1em;
  margin: 0 auto;
}

h1 {
  font-family: "Merriweather";
  font-weight: 900;
}

h2,
h3,
h4 {
  font-family: "Merriweather";
  font-weight: bold;
}

a {
  color: rgb(255, 128, 0);
  text-decoration: none;
}

blockquote {
  font-size: 110%;
  font-style: italic;
  padding-left: 15px;
  margin: 1em 25px 1em 25px;
  border-left: 3px solid rgb(7, 54, 83);
}
