@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Inconsolata:wght@400;700&display=swap");

:root {
  --grid: minmax(1.5em, 1fr) minmax(20rem, var(--content-max-width))
    minmax(1.5em, 1fr);

  --font-family-body: "Open Sans", sans-serif;
  --font-family-heading: "Open Sans", sans-serif;
  --font-family-code: "Inconsolata", monospace;

  /* From type-scale.com */
  --fs-h1: 3.157rem;
  --fs-h2: 2.369rem;
  --fs-h3: 1.777rem;
  --fs-h4: 1.333rem;
  --fs-p: 1rem;
  --fs-nav-links: 0.875rem;

  --content-max-width: 70ch;

  --line-height-text: 1.5;
  --line-height-heading: 1.05;
  --line-height-code: 1.4;
  --line-height-listing: 1.6;

  --clr-bg: white;
  --clr-link: #ab019a;
  --clr-primary: #005782;
  --clr-text: black;
  --clr-box-bg: #f7f7f7;
  --clr-gray: #474747;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: #222;
    --clr-primary: #00f2fe;
    --clr-link: #ff3ed4;
    --clr-text: #e5e5e5;
    --clr-box-bg: #292929;
    --clr-gray: #a0a0a0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  background: var(--clr-bg);
  color: var(--clr-text);
}

main {
  display: grid;
  grid-template-columns: var(--grid);
}

main .content {
  grid-column: 2 / span 1;
}

a {
  color: var(--clr-link);
  text-decoration: none;
}

blockquote {
  position: relative;
  font-size: 1.1em;
  font-style: italic;
  border-left: solid 6px var(--clr-primary);
  margin: 10px 0;
  padding: 0.5em 1em;
  background: var(--clr-box-bg);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  line-height: 1.05;
}

h1 {
  color: var(--clr-primary);
  font-weight: 900;
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  margin: 1em 0 0.5em 0;
}

h3 {
  font-size: var(--fs-h3);
  margin-bottom: 0.75rem;
}

h4 {
  font-size: var(--fs-h4);
}

p {
  font-size: var(--fs-p);
  line-height: var(--line-height-text);
}

code {
  font-family: var(--font-family-code);
}

li {
  line-height: var(--line-height-listing);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 18px 0;
  background: var(--clr-box-bg);
  text-transform: uppercase;
  font-size: var(--fs-nav-links);
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 0 10px;
}

.navbar-text {
  margin: 10px;
}

.navbar a {
  color: var(--clr-link);
}

div.highlighter-rouge {
  position: relative;
  margin: 2rem 0;
}

@media (min-width: 900px) {
  div.highlighter-rouge::before {
    color: var(--clr-gray);
    position: absolute;
    right: calc(100% + 1.5rem);
    top: 1em;
    font-size: 1rem;
    font-family: var(--font-family-code);
    line-height: var(--line-height-code);
    font-variant-caps: small-caps;
    text-align: right;
    vertical-align: text-top;
  }

  div.language-javascript::before {
    content: "JavaScript";
  }

  div.language-typescript::before {
    content: "TypeScript";
  }

  div.language-text::before {
    content: "Text";
  }

  div.language-shell::before {
    content: "Bash";
  }

  div.language-swift::before {
    content: "Swift";
  }

  div.language-objc::before {
    content: "Objective-C";
  }

  div.language-ruby::before {
    content: "Ruby";
  }

  div.language-c::before {
    content: "C";
  }

  div.language-json::before {
    content: "JSON";
  }
  div.language-Dockerfile::before {
    content: "Docker";
  }
}

pre.highlight {
  margin: 0;
}

div.highlight {
  overflow: auto;
  background-color: var(--clr-box-bg);
  line-height: var(--line-height-code);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  letter-spacing: 0;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: var(--clr-primary);
  font-weight: bold;
}

.post header {
  margin: 2em 0;
}

.post h1 {
  margin-bottom: 0.5rem;
}

.post-date {
  color: var(--clr-gray);
  font-variant-caps: all-small-caps;
  font-size: 18px;
}

.section-title {
  font-variant-caps: small-caps;
  font-size: 24px;
  color: var(--clr-gray);
  margin-left: -20px;
  margin-bottom: 10px;
}

@media (max-width: 740px) {
  .section-title {
    margin-left: 0px;
  }
}

.latest-post {
  margin-bottom: 60px;
}

.latest-post h1 {
  margin: 0.5rem 0;
}

.latest-post header {
  margin-bottom: 2em;
}

.article-list article {
  margin-bottom: 1.5rem;
}

.article-list-link {
  display: block;
  font-size: var(--fs-h4);
  font-weight: 700;
}

.article-list .post-date {
  font-size: 1rem;
}

.site-footer {
  display: grid;
  grid-template-columns: var(--grid);
  margin-top: 80px;
  padding: 20px 0;
  background: var(--clr-box-bg);
}

.site-footer > * {
  grid-column: 2 / span 1;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  max-width: var(--content-max-width);
  font-size: var(--fs-nav-links);
}

.author-photo {
  width: 192px;
  height: 192px;
  clip-path: circle(50% at 50% 50%);
  margin-right: 2rem;
}

.author-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.author-info {
  color: var(--clr-text);
  opacity: 0.65;
  margin: 0;
}

.author-interests {
  color: var(--clr-gray);
}

.author-interests .interest {
  color: var(--clr-primary);
}

.find-me {
  display: flex;
  text-transform: uppercase;
}

.find-me * + * {
  margin-left: 20px;
}

@media (max-width: 520px) {
  .site-footer {
    justify-items: center;
  }
  .author {
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 35ch;
  }
  .author-interests {
    margin: 2em 0;
  }

  .author-photo {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .find-me {
    justify-content: center;
  }
}
