.DS_Store
node_modules
/build
/.svelte-kit
/package
pnpm-lock.yaml
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
 INSERT   main  .prettierignore[+]                                                                             100%    1:15
-- INFOGA --
