<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Mikael Hallendal" />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="atom.xml"
      title="Atom feed"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- syntax highlighting CSS -->
    <!--link rel="stylesheet" href="/css/syntax.css" type="text/css" /-->

    <!-- fonts -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <nav role="navigation" class="navbar">
        <a class="nav-link" href="/">Home</a>
        <ul>
          <li class="{% if page.section == 'blog' %}active{% endif %}">
            <a href="/blog/" class="nav-link">Articles</a>
          </li>
          <li class="{% if page.section == 'about' %}active{% endif %}">
            <a href="/about" class="nav-link">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer class="site-footer">
      Find me on
      <a href="http://github.com/{{ site.owner.github }}/">Github</a>,
      <a href="http://twitter.com/{{ site.owner.twitter }}/">Twitter</a> and
      <a href="http://www.linkedin.com/in/{{ site.owner.linkedin }}">LinkedIn</a
      >.
    </footer>
  </body>
</html>
