<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Mikael Hallendal" />
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" >

    <!-- Style overrides -->
    <link rel="stylesheet" href="/css/overrides.css" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg" role="navigation">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if page.section == 'blog' %}active{% endif %}">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
        <li class="nav-item {% if page.section == 'about' %}active{% endif %}">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item {% if page.section == 'about' %}active{% endif %}">
            <a class="nav-link" href="/projects/">Projects</a>
          </li>
      </ul>
      <a href="/atom.xml" class="navbar-text navbar-right navbar-link"><i class="fa fa-rss"></i> Feed</a>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="page-header mt-5 mb-3">
            <h1>{{ page.title }} <small>{{ page.date | date: "%B %d, %Y" }}</small></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          {{ content }}
        </div>
      </div>
    </div>
    <footer class="well well-sm">
      Find me on <a href="http://github.com/{{site.owner.github}}/">Github</a>, <a href="http://twitter.com/{{site.owner.twitter}}/">Twitter</a> and <a href="http://www.linkedin.com/in/{{site.owner.linkedin}}">LinkedIn</a>.
    </footer>
  </body>
</html>
