---
layout: default
---
<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    {{content}}
    <h3>Related Posts</h3>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-3 col-sm-pull-9">
    <div class="well well-sm">
      <h3>About the author</h3>
      {{ site.owner.name }}
      <ul class="fa-ul">
        <li><a href="http://github.com/{{site.owner.github}}/"><i class="fa-li fa fa-github"></i>Github</a></li>
        <li><a href="http://twitter.com/{{site.owner.twitter}}/"><i class="fa-li fa fa-twitter"></i>Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
